## Distances Between Cities
---
In this Jupyter notebook, we calculate the Vincentys distance between each of Trilogy's campus locations and every other city in America.

### Dependencies

In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import time 
import sqlite3
import csv
from geopy.distance import vincenty
import glob
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

### Read the Full List of Cities

In [2]:
conn = sqlite3.connect("Opportunity_Map.db")
full_cities = pd.read_sql("select * from City_Census", conn)
full_cities.head()

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,"AARONSBURG, PA",AARONSBURG,PA,1058.0,1058.0,0.0,0.0,0.0,0.0,23.0,...,4.0,41.5,43.8,38.9,53000.0,21407.0,642.0,170100.0,40.895701,-77.392432
1,"ABBEVILLE, AL",ABBEVILLE,AL,6470.0,4064.0,2274.0,0.0,0.0,96.0,66.0,...,7.0,50.1,45.3,52.4,33944.0,20104.0,516.0,78100.0,31.595148,-85.208852
2,"ABBEVILLE, GA",ABBEVILLE,GA,4719.0,2676.0,1903.0,0.0,41.0,89.0,55.0,...,0.0,39.3,38.2,45.8,29200.0,10071.0,435.0,58400.0,31.976256,-83.339665
3,"ABBEVILLE, LA",ABBEVILLE,LA,26078.0,17932.0,6457.0,160.0,1059.0,710.0,308.0,...,71.0,35.9,34.9,37.4,42909.0,21520.0,613.0,95800.0,29.894612,-92.193173
4,"ABBEVILLE, MS",ABBEVILLE,MS,2974.0,1432.0,1502.0,0.0,19.0,16.0,20.0,...,2.0,37.6,29.9,46.0,61563.0,26266.0,490.0,70200.0,34.492325,-89.443056

### Google Distance Matrix

In [4]:
#python file at the moment

In [5]:
path =r'Traffic Data'
allFiles = glob.glob(path + "/*.xlsx")
frame = pd.DataFrame()
list_ = []
counter = 1
for file_ in allFiles:
    print(counter)
    counter = counter + 1
    df = pd.read_excel(file_,index_col=None)
    list_.append(df)
google_distance = pd.concat(list_)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48

In [6]:
google_distance.head()

,Unnamed: 0,City,City Lat,City Lng,CityState,Distance_x,Priority,State,Uni CityState,Uni Lat,Uni Lng,University,Google_URL,Distance_y,Distance_Text,Time,Time_Text
0,90815,CARRSVILLE,36.737390,-76.840511,"CARRSVILLE, VA",65.400534,NaN,VA,"RICHMOND, VA",37.548987,-77.453429,UR,https://maps.googleapis.com/maps/api/distancem...,127256.0,79.1 mi,5665.0,1 hour 34 mins
1,90816,CARSON,37.016961,-77.395057,"CARSON, VA",36.830103,NaN,VA,"RICHMOND, VA",37.548987,-77.453429,UR,https://maps.googleapis.com/maps/api/distancem...,66487.0,41.3 mi,2610.0,44 mins
2,90817,CARTERSVILLE,37.646476,-78.130174,"CARTERSVILLE, VA",37.738907,NaN,VA,"RICHMOND, VA",37.548987,-77.453429,UR,https://maps.googleapis.com/maps/api/distancem...,78105.0,48.5 mi,3452.0,58 mins
3,90818,CASANOVA,38.655682,-77.694159,"CASANOVA, VA",77.449345,NaN,VA,"RICHMOND, VA",37.548987,-77.453429,UR,https://maps.googleapis.com/maps/api/distancem...,145066.0,90.1 mi,5787.0,1 hour 36 mins
4,90819,CASCADE,36.576886,-79.642566,"CASCADE, VA",138.304802,NaN,VA,"RICHMOND, VA",37.548987,-77.453429,UR,https://maps.googleapis.com/maps/api/distancem...,265718.0,165 mi,11098.0,3 hours 5 mins

In [7]:
google_distance.shape

(48000, 17)

In [8]:
google_distance.to_csv("Complete_Traffic_Data.csv")

In [9]:
google_distance.columns

Index(['Unnamed: 0', 'City', 'City Lat', 'City Lng', 'CityState', 'Distance_x',
       'Priority', 'State', 'Uni CityState', 'Uni Lat', 'Uni Lng',
       'University', 'Google_URL', 'Distance_y', 'Distance_Text', 'Time',
       'Time_Text'],
      dtype='object')

In [10]:
google_distance["CityState"].nunique()

21442

In [11]:
google_distance.rename(columns = {"Distance_x": "Distance"}, inplace=True)

In [12]:
google_distance = google_distance[['Unnamed: 0', 'City', 'State', 'City Lat', 'City Lng', 'University', 'Uni CityState',
       'Uni Lat', 'Uni Lng', 'Distance', 'CityState', 'Google_URL',
        'Distance_Text', 'Time', 'Time_Text']]

In [13]:
test = google_distance[google_distance["University"] == "GTECH"]
test[test["State"] == "FL"]

Empty DataFrame
Columns: [Unnamed: 0, City, State, City Lat, City Lng, University, Uni CityState, Uni Lat, Uni Lng, Distance, CityState, Google_URL, Distance_Text, Time, Time_Text]
Index: []

### Identify Cities without University Matches

In [14]:
#merge on citystate, create dataframe where university values are null

In [15]:
traffic_added = google_distance.merge(full_cities, on="CityState", how="outer")

In [16]:
traffic_added.shape

(54190, 45)

In [17]:
traffic_added.columns

Index(['Unnamed: 0', 'City', 'State', 'City Lat', 'City Lng', 'University',
       'Uni CityState', 'Uni Lat', 'Uni Lng', 'Distance', 'CityState',
       'Google_URL', 'Distance_Text', 'Time', 'Time_Text', 'city', 'state',
       'Population', 'White Population', 'Black Population',
       'Native American Population', 'Asian Population', 'Hispanic Population',
       'Education None', 'Education High School', 'Education GED',
       'Education Associates', 'Education Bachelors', 'Education Masters',
       'Education Professional', 'Education Doctorate', 'Poverty',
       'Employment Labor Force', 'Employment Unemployed',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'Median Age',
       'Median Male Age', 'Median Female Age', 'Household Income',
       'Income Per Capita', 'Median Gross Rent', 'Median Home Value', 'lat',
       'lng'],
      dtype='object')

In [18]:
traffic_added[traffic_added["CityState"] == "ABBYVILLE, KS"]

,Unnamed: 0,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
48000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,54.4,55.6,52.3,46250.0,29101.0,NaN,70700.0,38.006359,-98.206324

In [19]:
no_affiliate = traffic_added[traffic_added['University'].isnull()]

In [20]:
no_affiliate = no_affiliate[['CityState', 'city', 'state',
       'Population', 'White Population', 'Black Population',
       'Native American Population', 'Asian Population', 'Hispanic Population',
       'Education None', 'Education High School', 'Education GED',
       'Education Associates', 'Education Bachelors', 'Education Masters',
       'Education Professional', 'Education Doctorate', 'Poverty',
       'Employment Labor Force', 'Employment Unemployed',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'Median Age',
       'Median Male Age', 'Median Female Age', 'Household Income',
       'Income Per Capita', 'Median Gross Rent', 'Median Home Value', 'lat',
       'lng']]

In [21]:
no_affiliate.shape

(6190, 31)

In [22]:
no_affiliate.head()

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
48000,"ABBYVILLE, KS",ABBYVILLE,KS,333.0,330.0,0.0,3.0,0.0,0.0,0.0,...,0.0,54.4,55.6,52.3,46250.0,29101.0,NaN,70700.0,38.006359,-98.206324
48001,"ABERDEEN, SD",ABERDEEN,SD,31563.0,28656.0,541.0,1209.0,708.0,702.0,56.0,...,202.0,36.1,34.6,38.1,51621.0,28196.0,608.0,144200.0,45.482335,-98.532540
48002,"ABERNATHY, TX",ABERNATHY,TX,3863.0,3452.0,53.0,6.0,5.0,1736.0,82.0,...,7.0,36.7,33.4,39.6,51745.0,21233.0,757.0,81900.0,33.857882,-101.881538
48003,"ABIQUIU, NM",ABIQUIU,NM,770.0,524.0,0.0,68.0,0.0,405.0,18.0,...,0.0,56.6,63.1,43.0,77321.0,25944.0,NaN,218100.0,36.282896,-106.411988
48004,"ABITA SPRINGS, LA",ABITA SPRINGS,LA,7964.0,7301.0,381.0,50.0,22.0,346.0,45.0,...,62.0,42.4,42.8,41.8,57326.0,28003.0,872.0,200100.0,30.484687,-89.953028

In [23]:
no_affiliate[no_affiliate["CityState"] == "SHINGLEHOUSE, PA"]

Empty DataFrame
Columns: [CityState, city, state, Population, White Population, Black Population, Native American Population, Asian Population, Hispanic Population, Education None, Education High School, Education GED, Education Associates, Education Bachelors, Education Masters, Education Professional, Education Doctorate, Poverty, Employment Labor Force, Employment Unemployed, Employment Male Computer Engineering, Employment Female Computer Engineering, Median Age, Median Male Age, Median Female Age, Household Income, Income Per Capita, Median Gross Rent, Median Home Value, lat, lng]
Index: []

[0 rows x 31 columns]

In [24]:
traffic_data = traffic_added[traffic_added['University'].notnull()]

In [25]:
traffic_data.shape

(48000, 45)

In [26]:
traffic_data.rename(columns = {"Unnamed: 0": "Zipcode"}, inplace=True)

/Users/paul/anaconda/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:2844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

### Calculate the Distance Between Remaining Cities and Universities

In [27]:
physical_locations = pd.read_excel("Raw/Physical_Campuses_geo.xlsx")
physical_locations.count()

University             44
CityState              44
Physical_Campus        44
Current_Prospective    44
State                  44
Uni_lat                44
Uni_lng                44
dtype: int64

In [28]:
beyond_google = pd.DataFrame(columns=['City', 'State', 'City Lat', 'City Lng',
                                      'University', 'Uni CityState', 'Uni Lat', 'Uni Lng', 'Distance'])

In [29]:
border_rules = {}
csvpath = 'Raw/border-rules.csv'

with open(csvpath, newline= "") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    next(csvreader)

    for row in csvreader:
        state = row[0]
        border_rules[state] = row[1:]
        
for item in border_rules:
    border_rules[item] = [x for x in border_rules[item] if x]

In [30]:
counter = 0
for index, row in physical_locations.iterrows():
    print("Checking " + row["University"])
    state_pull = row["State"]
    uni_lat = row["Uni_lat"]
    uni_lng = row["Uni_lng"]
    uni_name = row["University"]
    uni_loc = row["CityState"]
    for item in border_rules[state_pull]:
        if item is not "":
            #check against the city/state dataframe, create new dataframe of values, add values for city/state and lat/lng
            for index, row in no_affiliate.iterrows():
                if row["state"] == item:
                    city_name = row["city"]
                    state_name = row["state"]
                    city_lat = row["lat"]
                    city_lng = row["lng"]
                    city_state = row["CityState"]
                    
                    p1 = (uni_lat, uni_lng)
                    p2 = (city_lat, city_lng)
                    mi_distance = vincenty(p1, p2).miles
                    
                    beyond_google.set_value(counter, "Distance", mi_distance)
                    beyond_google.set_value(counter, "City", city_name)
                    beyond_google.set_value(counter, "State", state_name)
                    beyond_google.set_value(counter, "City Lat", city_lat)
                    beyond_google.set_value(counter, "City Lng", city_lng)
                    beyond_google.set_value(counter, "University", uni_name)
                    beyond_google.set_value(counter, "Uni CityState", uni_loc)
                    beyond_google.set_value(counter, "Uni Lat", uni_lat)
                    beyond_google.set_value(counter, "Uni Lng", uni_lng)
                    beyond_google.set_value(counter, "CityState", city_state)
                    counter = counter + 1
                else:
                    continue
            #print(item)
    #print("Next university")

#testing_distance.to_csv("matrix_cities.csv")

beyond_google.head()

Checking UMASS
Checking GTECH
Checking UT
Checking UCB
Checking HARV
Checking UNC
Checking UNCH
Checking NU
Checking CWR
Checking OSU
Checking SMU
Checking UCD
Checking DU
Checking UMICH
Checking UNH
Checking NU
Checking UT
Checking UCI
Checking RUT
Checking KU
Checking UCSD
Checking UCLA
Checking MIAMI
Checking MINN
Checking VAND
Checking CU
Checking UCF
Checking PENN
Checking UA
Checking PENN
Checking UP
Checking UR
Checking UCD
Checking WASHU
Checking UTAH
Checking UTSA
Checking UCB
Checking GTECH
Checking UW
Checking RUT
Checking UCF
Checking UA
Checking GW
Checking UWM

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState
0,ATTAPULGUS,GA,30.7388,-84.4907,GTECH,"ATLANTA, GA",33.7756,-84.3963,209.321,"ATTAPULGUS, GA"
1,BAINBRIDGE,GA,30.8661,-84.618,GTECH,"ATLANTA, GA",33.7756,-84.3963,200.904,"BAINBRIDGE, GA"
2,AKRON,AL,32.8528,-87.7503,GTECH,"ATLANTA, GA",33.7756,-84.3963,204.216,"AKRON, AL"
3,ALBERTA,AL,32.1582,-87.3446,GTECH,"ATLANTA, GA",33.7756,-84.3963,204.329,"ALBERTA, AL"
4,ALICEVILLE,AL,33.0772,-88.2027,GTECH,"ATLANTA, GA",33.7756,-84.3963,225.155,"ALICEVILLE, AL"

In [31]:
test = beyond_google[beyond_google["University"] == "GTECH"]
test[test["State"] == "FL"].head()

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState
150,ALFORD,FL,30.6324,-85.3846,GTECH,"ATLANTA, GA",33.7756,-84.3963,224.184,"ALFORD, FL"
151,ALTHA,FL,30.525,-85.1726,GTECH,"ATLANTA, GA",33.7756,-84.3963,228.554,"ALTHA, FL"
152,APALACHICOLA,FL,29.7317,-85.1119,GTECH,"ATLANTA, GA",33.7756,-84.3963,281.785,"APALACHICOLA, FL"
153,BAGDAD,FL,30.5982,-87.0304,GTECH,"ATLANTA, GA",33.7756,-84.3963,267.844,"BAGDAD, FL"
154,BAKER,FL,30.884,-86.6835,GTECH,"ATLANTA, GA",33.7756,-84.3963,239.989,"BAKER, FL"

In [32]:
beyond_google[beyond_google["CityState"] == "SHINGLEHOUSE,PA"]

Empty DataFrame
Columns: [City, State, City Lat, City Lng, University, Uni CityState, Uni Lat, Uni Lng, Distance, CityState]
Index: []

### Incorporate Rules Again

In [33]:
#need to add another cell for university rules if used, not being used here so skipping for now in the interest of time

In [34]:
#incorporate negative rules on full frame
#import university rules csv, clean up
negative_rules = {}
csvpath = 'Raw/negative-rules.csv'

with open(csvpath, newline= "") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    next(csvreader)

    for row in csvreader:
        uni = row[0]
        negative_rules[uni] = row[1:]

for item in negative_rules:
    negative_rules[item] = [x for x in negative_rules[item] if x]

In [35]:
for index, row in beyond_google.iterrows():
    if row["University"] in negative_rules:
        for item in negative_rules[row["University"]]:
            if (row["State"] == item) or (row["CityState"] == item):
                beyond_google.drop(index, inplace=True)

In [36]:
test = beyond_google[beyond_google["University"] == "UCLA"]
test[test["State"] == "NV"].head()

Empty DataFrame
Columns: [City, State, City Lat, City Lng, University, Uni CityState, Uni Lat, Uni Lng, Distance, CityState]
Index: []

In [37]:
len(beyond_google)

22937

### Merge the Three Frames

In [38]:
traffic_data["CityState"].nunique()

21442

In [39]:
traffic_data[traffic_data["CityState"] == "ZWOLLE, LA"]

,Zipcode,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
10990,51373.0,ZWOLLE,LA,31.650584,-93.618811,UT,"HOUSTON, TX",29.719949,-95.342233,167.971661,...,0.0,38.3,37.1,39.7,36148.0,20643.0,523.0,62400.0,31.650584,-93.618811

In [40]:
beyond_google["CityState"].nunique()

5796

In [41]:
beyond_google[beyond_google["CityState"] == "ZWOLLE, LA"]

Empty DataFrame
Columns: [City, State, City Lat, City Lng, University, Uni CityState, Uni Lat, Uni Lng, Distance, CityState]
Index: []

In [42]:
full_cities["CityState"].nunique()

27632

In [43]:
full_cities[full_cities["CityState"] == "ZWOLLE, LA"]

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
27631,"ZWOLLE, LA",ZWOLLE,LA,5721.0,3151.0,1075.0,1053.0,36.0,245.0,27.0,...,0.0,38.3,37.1,39.7,36148.0,20643.0,523.0,62400.0,31.650584,-93.618811

In [44]:
traffic_data.columns

Index(['Zipcode', 'City', 'State', 'City Lat', 'City Lng', 'University',
       'Uni CityState', 'Uni Lat', 'Uni Lng', 'Distance', 'CityState',
       'Google_URL', 'Distance_Text', 'Time', 'Time_Text', 'city', 'state',
       'Population', 'White Population', 'Black Population',
       'Native American Population', 'Asian Population', 'Hispanic Population',
       'Education None', 'Education High School', 'Education GED',
       'Education Associates', 'Education Bachelors', 'Education Masters',
       'Education Professional', 'Education Doctorate', 'Poverty',
       'Employment Labor Force', 'Employment Unemployed',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'Median Age',
       'Median Male Age', 'Median Female Age', 'Household Income',
       'Income Per Capita', 'Median Gross Rent', 'Median Home Value', 'lat',
       'lng'],
      dtype='object')

In [45]:
beyond_google.columns

Index(['City', 'State', 'City Lat', 'City Lng', 'University', 'Uni CityState',
       'Uni Lat', 'Uni Lng', 'Distance', 'CityState'],
      dtype='object')

In [46]:
# drop everything but distance and identifiers from both dataframes and then merge on full cities dataframe

In [47]:
traffic_data = traffic_data[['City', 'State', 'City Lat', 'City Lng', 'University', 'Uni CityState',
       'Uni Lat', 'Uni Lng', 'Distance', 'CityState', 'Google_URL',
       'Distance_Text', 'Time', 'Time_Text']]

In [48]:
#cant merge without a common column

In [49]:
google_distance_merge = traffic_data.merge(full_cities, on="CityState", how="outer")

In [50]:
google_distance_merge.shape

(54190, 44)

In [51]:
google_distance_merge.head()

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,CARRSVILLE,VA,36.737390,-76.840511,UR,"RICHMOND, VA",37.548987,-77.453429,65.400534,"CARRSVILLE, VA",...,11.0,46.4,42.7,46.6,62625.0,27167.0,842.0,240600.0,36.737390,-76.840511
1,CARRSVILLE,VA,36.737390,-76.840511,UNC,"CHAPEL HILL, NC",35.904912,-79.046913,135.829465,"CARRSVILLE, VA",...,11.0,46.4,42.7,46.6,62625.0,27167.0,842.0,240600.0,36.737390,-76.840511
2,CARRSVILLE,VA,36.737390,-76.840511,UR,"RICHMOND, VA",37.548987,-77.453429,65.400534,"CARRSVILLE, VA",...,11.0,46.4,42.7,46.6,62625.0,27167.0,842.0,240600.0,36.737390,-76.840511
3,CARRSVILLE,VA,36.737390,-76.840511,GW,"WASHINGTON, DC",38.899715,-77.048599,149.564762,"CARRSVILLE, VA",...,11.0,46.4,42.7,46.6,62625.0,27167.0,842.0,240600.0,36.737390,-76.840511
4,CARSON,VA,37.016961,-77.395057,UR,"RICHMOND, VA",37.548987,-77.453429,36.830103,"CARSON, VA",...,30.0,34.7,24.3,50.2,77865.0,26426.0,NaN,191900.0,37.016961,-77.395057

In [52]:
full_data_one = google_distance_merge[google_distance_merge['University'].notnull()]

In [53]:
full_data_one.head()

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,CARRSVILLE,VA,36.737390,-76.840511,UR,"RICHMOND, VA",37.548987,-77.453429,65.400534,"CARRSVILLE, VA",...,11.0,46.4,42.7,46.6,62625.0,27167.0,842.0,240600.0,36.737390,-76.840511
1,CARRSVILLE,VA,36.737390,-76.840511,UNC,"CHAPEL HILL, NC",35.904912,-79.046913,135.829465,"CARRSVILLE, VA",...,11.0,46.4,42.7,46.6,62625.0,27167.0,842.0,240600.0,36.737390,-76.840511
2,CARRSVILLE,VA,36.737390,-76.840511,UR,"RICHMOND, VA",37.548987,-77.453429,65.400534,"CARRSVILLE, VA",...,11.0,46.4,42.7,46.6,62625.0,27167.0,842.0,240600.0,36.737390,-76.840511
3,CARRSVILLE,VA,36.737390,-76.840511,GW,"WASHINGTON, DC",38.899715,-77.048599,149.564762,"CARRSVILLE, VA",...,11.0,46.4,42.7,46.6,62625.0,27167.0,842.0,240600.0,36.737390,-76.840511
4,CARSON,VA,37.016961,-77.395057,UR,"RICHMOND, VA",37.548987,-77.453429,36.830103,"CARSON, VA",...,30.0,34.7,24.3,50.2,77865.0,26426.0,NaN,191900.0,37.016961,-77.395057

In [54]:
full_data_one[full_data_one["CityState"] == "ZWOLLE, LA"]

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
10990,ZWOLLE,LA,31.650584,-93.618811,UT,"HOUSTON, TX",29.719949,-95.342233,167.971661,"ZWOLLE, LA",...,0.0,38.3,37.1,39.7,36148.0,20643.0,523.0,62400.0,31.650584,-93.618811

In [55]:
vincenty_distance_merge = beyond_google.merge(full_cities, on="CityState", how="outer")
vincenty_distance_merge.head()

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,ATTAPULGUS,GA,30.7388,-84.4907,GTECH,"ATLANTA, GA",33.7756,-84.3963,209.321,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
1,ATTAPULGUS,GA,30.7388,-84.4907,UNC,"CHAPEL HILL, NC",35.9049,-79.0469,475.163,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
2,ATTAPULGUS,GA,30.7388,-84.4907,UNCH,"CHARLOTTE, NC",35.3071,-80.7352,382.857,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
3,ATTAPULGUS,GA,30.7388,-84.4907,MIAMI,"MIAMI, FL",25.7617,-80.1918,431.391,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
4,ATTAPULGUS,GA,30.7388,-84.4907,VAND,"NASHVILLE, TN",36.1447,-86.8027,395.744,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698

In [56]:
full_data_two = vincenty_distance_merge[vincenty_distance_merge['University'].notnull()]

In [57]:
full_data_two.head()

,City,State,City Lat,City Lng,University,Uni CityState,Uni Lat,Uni Lng,Distance,CityState,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,ATTAPULGUS,GA,30.7388,-84.4907,GTECH,"ATLANTA, GA",33.7756,-84.3963,209.321,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
1,ATTAPULGUS,GA,30.7388,-84.4907,UNC,"CHAPEL HILL, NC",35.9049,-79.0469,475.163,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
2,ATTAPULGUS,GA,30.7388,-84.4907,UNCH,"CHARLOTTE, NC",35.3071,-80.7352,382.857,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
3,ATTAPULGUS,GA,30.7388,-84.4907,MIAMI,"MIAMI, FL",25.7617,-80.1918,431.391,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698
4,ATTAPULGUS,GA,30.7388,-84.4907,VAND,"NASHVILLE, TN",36.1447,-86.8027,395.744,"ATTAPULGUS, GA",...,0.0,32.4,21.5,38.0,22917.0,11655.0,673.0,69200.0,30.73885,-84.490698

In [58]:
frames = [full_data_one, full_data_two]
full_combinations = pd.concat(frames, join='outer')

In [59]:
full_combinations[full_combinations["CityState"] == "ABBYVILLE, KS"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
15435,0.0,0.0,ABBYVILLE,38.0064,-98.2063,"ABBYVILLE, KS",382.106,NaN,18.0,10.0,...,NaN,"DENVER, CO",39.6766,-104.962,DU,330.0,ABBYVILLE,38.006359,-98.206324,KS
15436,0.0,0.0,ABBYVILLE,38.0064,-98.2063,"ABBYVILLE, KS",208.322,NaN,18.0,10.0,...,NaN,"KANSAS CITY, KS",39.1141,-94.6275,KU,330.0,ABBYVILLE,38.006359,-98.206324,KS
15437,0.0,0.0,ABBYVILLE,38.0064,-98.2063,"ABBYVILLE, KS",431.133,NaN,18.0,10.0,...,NaN,"SAINT LOUIS, MO",38.6488,-90.3108,WASHU,330.0,ABBYVILLE,38.006359,-98.206324,KS

In [60]:
full_combinations[full_combinations["CityState"] == "ZWOLLE, LA"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
10990,36.0,1075.0,ZWOLLE,31.6506,-93.6188,"ZWOLLE, LA",167.972,203 mi,243.0,233.0,...,3 hours 22 mins,"HOUSTON, TX",29.7199,-95.3422,UT,3151.0,ZWOLLE,31.650584,-93.618811,LA

In [61]:
full_combinations["CityState"].nunique()

27238

In [62]:
full_combinations[full_combinations["CityState"] == "GRETNA, FL"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
20374,0.0,1363.0,GRETNA,30.6203,-84.677,"GRETNA, FL",432.123,NaN,15.0,90.0,...,NaN,"MIAMI, FL",25.7617,-80.1918,MIAMI,206.0,GRETNA,30.620273,-84.677031,FL
20375,0.0,1363.0,GRETNA,30.6203,-84.677,"GRETNA, FL",251.189,NaN,15.0,90.0,...,NaN,"ORLANDO, FL",28.6024,-81.2001,UCF,206.0,GRETNA,30.620273,-84.677031,FL
20376,0.0,1363.0,GRETNA,30.6203,-84.677,"GRETNA, FL",223.096,NaN,15.0,90.0,...,NaN,"TAMPA, FL",28.0587,-82.4139,UCF,206.0,GRETNA,30.620273,-84.677031,FL

In [63]:
test = full_combinations[full_combinations["University"] == "GTECH"]
test[test["State"] == "FL"].head()

Empty DataFrame
Columns: [Asian Population, Black Population, City, City Lat, City Lng, CityState, Distance, Distance_Text, Education Associates, Education Bachelors, Education Doctorate, Education GED, Education High School, Education Masters, Education None, Education Professional, Employment Female Computer Engineering, Employment Labor Force, Employment Male Computer Engineering, Employment Unemployed, Google_URL, Hispanic Population, Household Income, Income Per Capita, Median Age, Median Female Age, Median Gross Rent, Median Home Value, Median Male Age, Native American Population, Population, Poverty, State, Time, Time_Text, Uni CityState, Uni Lat, Uni Lng, University, White Population, city, lat, lng, state]
Index: []

[0 rows x 44 columns]

In [64]:
full_combinations[full_combinations["CityState"] == "SHINGLEHOUSE, PA"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
22426,0.0,6.0,SHINGLEHOUSE,41.9472,-78.1445,"SHINGLEHOUSE, PA",141.848,182 mi,118.0,131.0,...,3 hours 45 mins,"PITTSBURGH, PA",40.4406,-79.9959,PENN,2630.0,SHINGLEHOUSE,41.947228,-78.144487,PA

In [65]:
full_combinations[full_combinations["CityState"] == "SHERMAN, NY"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
39386,0.0,11.0,SHERMAN,42.1616,-79.6013,"SHERMAN, NY",113.089,124 mi,165.0,121.0,...,1 hour 59 mins,"CLEVELAND, OH",41.5043,-81.6084,CWR,2084.0,SHERMAN,42.161603,-79.601288,NY
39387,0.0,11.0,SHERMAN,42.1616,-79.6013,"SHERMAN, NY",120.527,151 mi,165.0,121.0,...,2 hours 19 mins,"PITTSBURGH, PA",40.4406,-79.9959,PENN,2084.0,SHERMAN,42.161603,-79.601288,NY

In [66]:
full_combinations[full_combinations["CityState"] == "LEETONIA, OH"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
16926,6.0,90.0,LEETONIA,40.8516,-80.7495,"LEETONIA, OH",183.831,239 mi,294.0,485.0,...,3 hours 41 mins,"DETROIT, MI",42.2808,-83.743,UMICH,4482.0,LEETONIA,40.851614,-80.749469,OH
16927,6.0,90.0,LEETONIA,40.8516,-80.7495,"LEETONIA, OH",133.441,163 mi,294.0,485.0,...,2 hours 51 mins,"COLUMBUS, OH",40.0142,-83.0309,OSU,4482.0,LEETONIA,40.851614,-80.749469,OH
16928,6.0,90.0,LEETONIA,40.8516,-80.7495,"LEETONIA, OH",63.5159,82.5 mi,294.0,485.0,...,1 hour 34 mins,"CLEVELAND, OH",41.5043,-81.6084,CWR,4482.0,LEETONIA,40.851614,-80.749469,OH
16929,6.0,90.0,LEETONIA,40.8516,-80.7495,"LEETONIA, OH",48.7126,67.4 mi,294.0,485.0,...,1 hour 16 mins,"PITTSBURGH, PA",40.4406,-79.9959,PENN,4482.0,LEETONIA,40.851614,-80.749469,OH

In [67]:
full_combinations[full_combinations["CityState"] == "MACOMB, MI"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
4522,2829.0,3614.0,MACOMB,42.6669,-82.9192,"MACOMB, MI",183.157,237 mi,6646.0,11893.0,...,3 hours 53 mins,"COLUMBUS, OH",40.0142,-83.0309,OSU,75321.0,MACOMB,42.666922,-82.919196,MI
4523,2829.0,3614.0,MACOMB,42.6669,-82.9192,"MACOMB, MI",104.783,212 mi,6646.0,11893.0,...,3 hours 26 mins,"CLEVELAND, OH",41.5043,-81.6084,CWR,75321.0,MACOMB,42.666922,-82.919196,MI
4524,2829.0,3614.0,MACOMB,42.6669,-82.9192,"MACOMB, MI",49.8216,73.0 mi,6646.0,11893.0,...,1 hour 15 mins,"DETROIT, MI",42.2808,-83.743,UMICH,75321.0,MACOMB,42.666922,-82.919196,MI

### Note Locations if Physical Campus

In [68]:
#merge with physical location xl
physical_locations = pd.read_excel("Raw/Physical_Campuses_geo.xlsx")
physical_locations = physical_locations[["University", "CityState", "Current_Prospective"]]

In [69]:
full_combinations.columns

Index(['Asian Population', 'Black Population', 'City', 'City Lat', 'City Lng',
       'CityState', 'Distance', 'Distance_Text', 'Education Associates',
       'Education Bachelors', 'Education Doctorate', 'Education GED',
       'Education High School', 'Education Masters', 'Education None',
       'Education Professional', 'Employment Female Computer Engineering',
       'Employment Labor Force', 'Employment Male Computer Engineering',
       'Employment Unemployed', 'Google_URL', 'Hispanic Population',
       'Household Income', 'Income Per Capita', 'Median Age',
       'Median Female Age', 'Median Gross Rent', 'Median Home Value',
       'Median Male Age', 'Native American Population', 'Population',
       'Poverty', 'State', 'Time', 'Time_Text', 'Uni CityState', 'Uni Lat',
       'Uni Lng', 'University', 'White Population', 'city', 'lat', 'lng',
       'state'],
      dtype='object')

In [70]:
full_combinations.head()

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Time_Text,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state
0,0.0,53.0,CARRSVILLE,36.7374,-76.8405,"CARRSVILLE, VA",65.4005,79.1 mi,157.0,113.0,...,1 hour 34 mins,"RICHMOND, VA",37.549,-77.4534,UR,1549.0,CARRSVILLE,36.737390,-76.840511,VA
1,0.0,53.0,CARRSVILLE,36.7374,-76.8405,"CARRSVILLE, VA",135.829,176 mi,157.0,113.0,...,2 hours 51 mins,"CHAPEL HILL, NC",35.9049,-79.0469,UNC,1549.0,CARRSVILLE,36.737390,-76.840511,VA
2,0.0,53.0,CARRSVILLE,36.7374,-76.8405,"CARRSVILLE, VA",65.4005,79.1 mi,157.0,113.0,...,1 hour 34 mins,"RICHMOND, VA",37.549,-77.4534,UR,1549.0,CARRSVILLE,36.737390,-76.840511,VA
3,0.0,53.0,CARRSVILLE,36.7374,-76.8405,"CARRSVILLE, VA",149.565,185 mi,157.0,113.0,...,3 hours 4 mins,"WASHINGTON, DC",38.8997,-77.0486,GW,1549.0,CARRSVILLE,36.737390,-76.840511,VA
4,0.0,613.0,CARSON,37.017,-77.3951,"CARSON, VA",36.8301,41.3 mi,109.0,91.0,...,44 mins,"RICHMOND, VA",37.549,-77.4534,UR,680.0,CARSON,37.016961,-77.395057,VA

In [71]:
full_combinations["Physical_Campus"] = "FALSE"
full_combinations.loc[(full_combinations["Uni CityState"] == full_combinations["CityState"], "Physical_Campus")] = "TRUE"

In [72]:
full_combinations[full_combinations["University"] == "GTECH"]

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state,Physical_Campus
6072,0.0,86.0,WHITE OAK,31.0134,-81.8191,"WHITE OAK, GA",85.0704,100 mi,104.0,44.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,650.0,WHITE OAK,31.013362,-81.819093,GA,FALSE
6074,1.0,571.0,WHITE PLAINS,33.4533,-83.0654,"WHITE PLAINS, GA",148.342,179 mi,38.0,115.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,722.0,WHITE PLAINS,33.453336,-83.065445,GA,FALSE
6075,1.0,571.0,WHITE PLAINS,33.4533,-83.0654,"WHITE PLAINS, GA",79.8896,92.3 mi,38.0,115.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,722.0,WHITE PLAINS,33.453336,-83.065445,GA,FALSE
6077,0.0,489.0,WILLACOOCHEE,31.3958,-83.0254,"WILLACOOCHEE, GA",122.879,148 mi,151.0,77.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,2368.0,WILLACOOCHEE,31.395823,-83.025392,GA,FALSE
6078,0.0,489.0,WILLACOOCHEE,31.3958,-83.0254,"WILLACOOCHEE, GA",182.445,218 mi,151.0,77.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,2368.0,WILLACOOCHEE,31.395823,-83.025392,GA,FALSE
6079,64.0,1089.0,WINTERVILLE,33.947,-83.2563,"WINTERVILLE, GA",179.342,214 mi,337.0,899.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,5596.0,WINTERVILLE,33.946987,-83.256270,GA,FALSE
6080,64.0,1089.0,WINTERVILLE,33.947,-83.2563,"WINTERVILLE, GA",66.6042,76.6 mi,337.0,899.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,5596.0,WINTERVILLE,33.946987,-83.256270,GA,FALSE
6082,39.0,1435.0,WOODBINE,30.8965,-81.6971,"WOODBINE, GA",89.0599,102 mi,338.0,421.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,3783.0,WOODBINE,30.896489,-81.697139,GA,FALSE
6084,0.0,120.0,WRAY,31.6134,-83.066,"WRAY, GA",120.083,142 mi,50.0,134.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,776.0,WRAY,31.613378,-83.065969,GA,FALSE
6085,0.0,120.0,WRAY,31.6134,-83.066,"WRAY, GA",167.951,202 mi,50.0,134.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,776.0,WRAY,31.613378,-83.065969,GA,FALSE
6086,19.0,1946.0,WRENS,33.1912,-82.3531,"WRENS, GA",105.672,136 mi,122.0,150.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1339.0,WRENS,33.191250,-82.353132,GA,FALSE
6087,19.0,1946.0,WRENS,33.1912,-82.3531,"WRENS, GA",124.674,137 mi,122.0,150.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,1339.0,WRENS,33.191250,-82.353132,GA,FALSE
6089,179.0,3217.0,WRIGHTSVILLE,32.7233,-82.7073,"WRIGHTSVILLE, GA",103.793,113 mi,308.0,226.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,3728.0,WRIGHTSVILLE,32.723279,-82.707269,GA,FALSE
6090,179.0,3217.0,WRIGHTSVILLE,32.7233,-82.7073,"WRIGHTSVILLE, GA",121.754,146 mi,308.0,226.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,3728.0,WRIGHTSVILLE,32.723279,-82.707269,GA,FALSE
6091,0.0,213.0,YATESVILLE,32.8904,-84.1669,"YATESVILLE, GA",187.549,207 mi,111.0,47.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1014.0,YATESVILLE,32.890411,-84.166895,GA,FALSE
6092,0.0,213.0,YATESVILLE,32.8904,-84.1669,"YATESVILLE, GA",62.4319,76.6 mi,111.0,47.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,1014.0,YATESVILLE,32.890411,-84.166895,GA,FALSE
6093,7.0,503.0,ZEBULON,33.0903,-84.3104,"ZEBULON, GA",199.725,214 mi,322.0,149.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,3679.0,ZEBULON,33.090279,-84.310405,GA,FALSE
6094,7.0,503.0,ZEBULON,33.0903,-84.3104,"ZEBULON, GA",47.4919,53.7 mi,322.0,149.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,3679.0,ZEBULON,33.090279,-84.310405,GA,FALSE
6095,75.0,347.0,CALABASH,33.918,-78.592,"CALABASH, NC",192.832,244 mi,626.0,1322.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,8987.0,CALABASH,33.917987,-78.591953,NC,FALSE
6098,0.0,236.0,CERRO GORDO,34.3034,-78.9454,"CERRO GORDO, NC",197.441,240 mi,98.0,30.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1190.0,CERRO GORDO,34.303437,-78.945367,NC,FALSE
6101,0.0,422.0,CLARENDON,34.168,-78.7587,"CLARENDON, NC",197.635,252 mi,145.0,99.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1893.0,CLARENDON,34.168033,-78.758709,NC,FALSE
6104,0.0,596.0,FAIR BLUFF,34.2868,-79.0014,"FAIR BLUFF, NC",194.518,237 mi,138.0,104.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1043.0,FAIR BLUFF,34.286816,-79.001382,NC,FALSE
6107,0.0,550.0,LONGWOOD,33.9916,-78.5496,"LONGWOOD, NC",197.982,256 mi,28.0,27.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,390.0,LONGWOOD,33.991603,-78.549570,NC,FALSE
6110,0.0,0.0,MC FARLAN,34.8184,-79.9723,"MC FARLAN, NC",199.42,223 mi,7.0,6.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,87.0,MC FARLAN,34.818432,-79.972265,NC,FALSE
6113,0.0,0.0,MINERAL SPRINGS,34.9348,-80.6812,"MINERAL SPRINGS, NC",197.986,250 mi,17.0,0.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,101.0,MINERAL SPRINGS,34.934781,-80.681183,NC,FALSE
6116,9.0,76.0,OCEAN ISLE BEACH,33.9264,-78.4668,"OCEAN ISLE BEACH, NC",198.741,252 mi,531.0,1120.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,5862.0,OCEAN ISLE BEACH,33.926428,-78.466820,NC,FALSE
6119,1.0,583.0,PEACHLAND,34.8449,-80.2657,"PEACHLAND, NC",196.314,225 mi,192.0,155.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1774.0,PEACHLAND,34.844926,-80.265681,NC,FALSE
6122,0.0,431.0,SUNSET BEACH,33.8997,-78.5192,"SUNSET BEACH, NC",195.24,260 mi,274.0,928.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,3955.0,SUNSET BEACH,33.899650,-78.519208,NC,FALSE
6125,9.0,3306.0,TABOR CITY,34.1098,-78.7765,"TABOR CITY, NC",194.051,249 mi,503.0,427.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,5369.0,TABOR CITY,34.109764,-78.776463,NC,FALSE
6128,2203.0,3417.0,WAXHAW,34.9162,-80.7314,"WAXHAW, NC",196.377,236 mi,2732.0,11363.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,42275.0,WAXHAW,34.916155,-80.731415,NC,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844,17.0,2839.0,UNIONTOWN,32.4311,-87.4822,"UNIONTOWN, AL",201.533,NaN,70.0,184.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,722.0,UNIONTOWN,32.431068,-87.482163,AL,FALSE
848,17.0,2839.0,UNIONTOWN,32.4311,-87.4822,"UNIONTOWN, AL",374.403,NaN,70.0,184.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,722.0,UNIONTOWN,32.431068,-87.482163,AL,FALSE
850,0.0,154.0,URIAH,31.325,-87.5991,"URIAH, AL",251.877,NaN,89.0,107.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,1197.0,URIAH,31.325005,-87.599127,AL,FALSE
854,0.0,154.0,URIAH,31.325,-87.5991,"URIAH, AL",386.318,NaN,89.0,107.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1197.0,URIAH,31.325005,-87.599127,AL,FALSE
856,0.0,262.0,VINEGAR BEND,31.1991,-88.3887,"VINEGAR BEND, AL",293.023,NaN,50.0,34.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,517.0,VINEGAR BEND,31.199096,-88.388739,AL,FALSE
860,0.0,262.0,VINEGAR BEND,31.1991,-88.3887,"VINEGAR BEND, AL",433.842,NaN,50.0,34.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,517.0,VINEGAR BEND,31.199096,-88.388739,AL,FALSE
862,0.0,335.0,VREDENBURGH,31.7715,-87.3826,"VREDENBURGH, AL",222.009,NaN,4.0,0.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,59.0,VREDENBURGH,31.771512,-87.382559,AL,FALSE
866,0.0,335.0,VREDENBURGH,31.7715,-87.3826,"VREDENBURGH, AL",369.757,NaN,4.0,0.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,59.0,VREDENBURGH,31.771512,-87.382559,AL,FALSE
868,0.0,135.0,WAGARVILLE,31.3873,-88.0797,"WAGARVILLE, AL",270.637,NaN,59.0,35.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,882.0,WAGARVILLE,31.387319,-88.079654,AL,FALSE
872,0.0,135.0,WAGARVILLE,31.3873,-88.0797,"WAGARVILLE, AL",413.711,NaN,59.0,35.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,882.0,WAGARVILLE,31.387319,-88.079654,AL,FALSE
874,0.0,209.0,WARD,32.3003,-88.142,"WARD, AL",239.989,NaN,16.0,40.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,152.0,WARD,32.300344,-88.141975,AL,FALSE
878,0.0,209.0,WARD,32.3003,-88.142,"WARD, AL",412.816,NaN,16.0,40.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,152.0,WARD,32.300344,-88.141975,AL,FALSE
880,0.0,655.0,WHATLEY,31.6393,-87.6369,"WHATLEY, AL",239.383,NaN,82.0,44.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,200.0,WHATLEY,31.639318,-87.636900,AL,FALSE
884,0.0,655.0,WHATLEY,31.6393,-87.6369,"WHATLEY, AL",385.56,NaN,82.0,44.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,200.0,WHATLEY,31.639318,-87.636900,AL,FALSE
886,0.0,822.0,WILMER,30.8442,-88.3512,"WILMER, AL",307.129,NaN,493.0,723.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,9594.0,WILMER,30.844238,-88.351243,AL,FALSE
890,0.0,822.0,WILMER,30.8442,-88.3512,"WILMER, AL",436.564,NaN,493.0,723.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,9594.0,WILMER,30.844238,-88.351243,AL,FALSE
892,0.0,20.0,WING,31.0478,-86.6742,"WING, AL",230.327,NaN,14.0,27.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,272.0,WING,31.047796,-86.674187,AL,FALSE
896,0.0,20.0,WING,31.0478,-86.6742,"WING, AL",336.445,NaN,14.0,27.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,272.0,WING,31.047796,-86.674187,AL,FALSE
898,0.0,2754.0,YORK,32.4323,-88.1836,"YORK, AL",238.357,NaN,122.0,220.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,587.0,YORK,32.432254,-88.183591,AL,FALSE
902,0.0,2754.0,YORK,32.4323,-88.1836,"YORK, AL",415.378,NaN,122.0,220.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,587.0,YORK,32.432254,-88.183591,AL,FALSE
904,0.0,0.0,AVON,35.337,-75.5173,"AVON, NC",517.47,NaN,12.0,131.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,926.0,AVON,35.336950,-75.517266,NC,FALSE
908,0.0,0.0,AVON,35.337,-75.5173,"AVON, NC",391.898,NaN,12.0,131.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,926.0,AVON,35.336950,-75.517266,NC,FALSE
909,0.0,0.0,BUXTON,35.2595,-75.5533,"BUXTON, NC",514.608,NaN,69.0,76.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,1025.0,BUXTON,35.259518,-75.553269,NC,FALSE
913,0.0,0.0,BUXTON,35.2595,-75.5533,"BUXTON, NC",387.28,NaN,69.0,76.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,1025.0,BUXTON,35.259518,-75.553269,NC,FALSE
914,0.0,0.0,FRISCO,35.2394,-75.5646,"FRISCO, NC",513.763,NaN,132.0,165.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,874.0,FRISCO,35.239423,-75.564581,NC,FALSE
918,0.0,0.0,FRISCO,35.2394,-75.5646,"FRISCO, NC",385.992,NaN,132.0,165.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,874.0,FRISCO,35.239423,-75.564581,NC,FALSE
919,0.0,0.0,SALVO,35.5525,-75.4713,"SALVO, NC",522.658,NaN,14.0,30.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,225.0,SALVO,35.552458,-75.471299,NC,FALSE
923,0.0,0.0,SALVO,35.5525,-75.4713,"SALVO, NC",402.372,NaN,14.0,30.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,225.0,SALVO,35.552458,-75.471299,NC,FALSE
924,0.0,0.0,WAVES,35.5652,-75.4661,"WAVES, NC",523.113,NaN,23.0,42.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,65.0,WAVES,35.565235,-75.466100,NC,FALSE
928,0.0,0.0,WAVES,35.5652,-75.4661,"WAVES, NC",403.116,NaN,23.0,42.0,...,"SAVANNAH, GA",32.0835,-81.0998,GTECH,65.0,WAVES,35.565235,-75.466100,NC,FALSE

In [73]:
full_combinations[(full_combinations["Uni CityState"] == full_combinations["CityState"])].head()

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state,Physical_Campus
1564,9865.0,169876.0,RICHMOND,37.5283,-77.4673,"RICHMOND, VA",1.61596,2.0 mi,16083.0,52086.0,...,"RICHMOND, VA",37.549,-77.4534,UR,175035.0,RICHMOND,37.528313,-77.467278,VA,TRUE
1566,9865.0,169876.0,RICHMOND,37.5283,-77.4673,"RICHMOND, VA",1.61596,2.0 mi,16083.0,52086.0,...,"RICHMOND, VA",37.549,-77.4534,UR,175035.0,RICHMOND,37.528313,-77.467278,VA,TRUE
4286,3546.0,526540.0,DETROIT,42.365,-83.1005,"DETROIT, MI",33.42,39.6 mi,27167.0,32975.0,...,"DETROIT, MI",42.2808,-83.743,UMICH,86768.0,DETROIT,42.365000,-83.100460,MI,TRUE
7529,126819.0,74003.0,SEATTLE,47.5934,-122.33,"SEATTLE, WA",4.45052,6.9 mi,48198.0,200601.0,...,"SEATTLE, WA",47.6553,-122.304,UW,596744.0,SEATTLE,47.593450,-122.329986,WA,TRUE
7834,69239.0,43027.0,PORTLAND,45.519,-122.659,"PORTLAND, OR",0.889871,1.2 mi,46313.0,169107.0,...,"PORTLAND, OR",45.5231,-122.677,UP,692328.0,PORTLAND,45.518978,-122.659133,OR,TRUE

### Drop Pairs Beyond 700 miles

In [74]:
full_combinations["Distance"].count()

70937

In [75]:
full_combinations = full_combinations[(full_combinations["Distance"] <700)]
full_combinations.count()

Asian Population                          70093
Black Population                          70093
City                                      70093
City Lat                                  70093
City Lng                                  70093
CityState                                 70093
Distance                                  70093
Distance_Text                             47801
Education Associates                      70093
Education Bachelors                       70093
Education Doctorate                       70093
Education GED                             70093
Education High School                     70093
Education Masters                         70093
Education None                            70093
Education Professional                    70093
Employment Female Computer Engineering    70093
Employment Labor Force                    70093
Employment Male Computer Engineering      70093
Employment Unemployed                     70093
Google_URL                                48000
Hispanic Population                       70093
Household Income                          65698
Income Per Capita                         69022
Median Age                                69202
Median Female Age                         68462
Median Gross Rent                         56505
Median Home Value                         65273
Median Male Age                           68477
Native American Population                70093
Population                                70093
Poverty                                   70093
State                                     70093
Time                                      47801
Time_Text                                 47801
Uni CityState                             70093
Uni Lat                                   70093
Uni Lng                                   70093
University                                70093
White Population                          70093
city                                      70093
lat                                       70093
lng                                       70093
state                                     70093
Physical_Campus                           70093
dtype: int64

In [76]:
full_combinations.sort_values("Distance", ascending=True)

,Asian Population,Black Population,City,City Lat,City Lng,CityState,Distance,Distance_Text,Education Associates,Education Bachelors,...,Uni CityState,Uni Lat,Uni Lng,University,White Population,city,lat,lng,state,Physical_Campus
4101,24294.0,11309.0,ANN ARBOR,42.2727,-83.7398,"ANN ARBOR, MI",0.584443,0.9 mi,4682.0,27382.0,...,"DETROIT, MI",42.2808,-83.743,UMICH,117743.0,ANN ARBOR,42.272670,-83.739813,MI,FALSE
14668,25626.0,33377.0,TUCSON,32.2358,-110.959,"TUCSON, AZ",0.602764,1.0 mi,49787.0,101917.0,...,"TUCSON, AZ",32.2319,-110.95,UA,692157.0,TUCSON,32.235782,-110.959324,AZ,TRUE
33538,15250.0,119841.0,NASHVILLE,36.1465,-86.792,"NASHVILLE, TN",0.60831,1.6 mi,16460.0,75790.0,...,"NASHVILLE, TN",36.1447,-86.8027,VAND,281561.0,NASHVILLE,36.146455,-86.791994,TN,TRUE
25261,23897.0,9048.0,BERKELEY,37.8755,-122.27,"BERKELEY, CA",0.659023,1.2 mi,3321.0,25577.0,...,"BERKELEY, CA",37.8719,-122.259,UCB,78282.0,BERKELEY,37.875502,-122.269705,CA,TRUE
7834,69239.0,43027.0,PORTLAND,45.519,-122.659,"PORTLAND, OR",0.889871,1.2 mi,46313.0,169107.0,...,"PORTLAND, OR",45.5231,-122.677,UP,692328.0,PORTLAND,45.518978,-122.659133,OR,TRUE
47890,28109.0,313530.0,SAINT LOUIS,38.6384,-90.3003,"SAINT LOUIS, MO",0.914223,2.0 mi,43516.0,136180.0,...,"SAINT LOUIS, MO",38.6488,-90.3108,WASHU,554227.0,SAINT LOUIS,38.638412,-90.300284,MO,TRUE
22244,28451.0,112529.0,PITTSBURGH,40.4455,-79.9785,"PITTSBURGH, PA",0.978374,1.3 mi,42407.0,109028.0,...,"PITTSBURGH, PA",40.4406,-79.9959,PENN,526699.0,PITTSBURGH,40.445496,-79.978482,PA,TRUE
24185,2064.0,934.0,HIGHLAND PARK,40.5008,-74.4279,"HIGHLAND PARK, NJ",1.02647,1.4 mi,352.0,2411.0,...,"JERSEY CITY, NJ",40.5008,-74.4474,RUT,10120.0,HIGHLAND PARK,40.500795,-74.427911,NJ,FALSE
34820,23822.0,316431.0,WASHINGTON,38.9029,-77.0268,"WASHINGTON, DC",1.19489,1.4 mi,14040.0,105874.0,...,"WASHINGTON, DC",38.8997,-77.0486,GW,260208.0,WASHINGTON,38.902853,-77.026798,DC,TRUE
24437,5026.0,8207.0,NEW BRUNSWICK,40.4836,-74.4425,"NEW BRUNSWICK, NJ",1.21367,1.9 mi,899.0,3250.0,...,"JERSEY CITY, NJ",40.5008,-74.4474,RUT,38207.0,NEW BRUNSWICK,40.483638,-74.442460,NJ,FALSE
19490,3043.0,1432.0,ALLSTON,42.358,-71.1286,"ALLSTON, MA",1.29649,3.1 mi,270.0,4075.0,...,"BOSTON, MA",42.3505,-71.1054,HARV,11586.0,ALLSTON,42.358016,-71.128608,MA,FALSE
20722,2301.0,3897.0,ROXBURY CROSSING,42.3321,-71.0965,"ROXBURY CROSSING, MA",1.34913,2.2 mi,344.0,1424.0,...,"BOSTON, MA",42.3505,-71.1054,HARV,7209.0,ROXBURY CROSSING,42.332090,-71.096545,MA,FALSE
25659,17780.0,1639.0,DAVIS,38.5487,-121.74,"DAVIS, CA",1.37989,3.8 mi,1749.0,10846.0,...,"DAVIS, CA",38.5382,-121.762,UCD,47304.0,DAVIS,38.548672,-121.739983,CA,TRUE
43645,7523.0,13237.0,EVANSTON,42.0452,-87.6985,"EVANSTON, IL",1.42399,2.0 mi,1759.0,14974.0,...,"CHICAGO, IL",42.0565,-87.6753,NU,54597.0,EVANSTON,42.045205,-87.698468,IL,FALSE
43644,7523.0,13237.0,EVANSTON,42.0452,-87.6985,"EVANSTON, IL",1.42399,2.0 mi,1759.0,14974.0,...,"EVANSTON, IL",42.0565,-87.6753,NU,54597.0,EVANSTON,42.045205,-87.698468,IL,TRUE
27033,284426.0,46844.0,SAN FRANCISCO,37.7642,-122.429,"SAN FRANCISCO, CA",1.48334,2.6 mi,36502.0,215189.0,...,"SAN FRANCISCO, CA",37.7766,-122.451,UCB,409698.0,SAN FRANCISCO,37.764229,-122.428560,CA,TRUE
19698,16166.0,11476.0,CAMBRIDGE,42.3733,-71.1074,"CAMBRIDGE, MA",1.57779,2.9 mi,1561.0,20965.0,...,"BOSTON, MA",42.3505,-71.1054,HARV,73204.0,CAMBRIDGE,42.373310,-71.107411,MA,FALSE
1566,9865.0,169876.0,RICHMOND,37.5283,-77.4673,"RICHMOND, VA",1.61596,2.0 mi,16083.0,52086.0,...,"RICHMOND, VA",37.549,-77.4534,UR,175035.0,RICHMOND,37.528313,-77.467278,VA,TRUE
1564,9865.0,169876.0,RICHMOND,37.5283,-77.4673,"RICHMOND, VA",1.61596,2.0 mi,16083.0,52086.0,...,"RICHMOND, VA",37.549,-77.4534,UR,175035.0,RICHMOND,37.528313,-77.467278,VA,TRUE
19679,8305.0,1315.0,BROOKLINE,42.3345,-71.1286,"BROOKLINE, MA",1.62406,3.8 mi,828.0,9917.0,...,"BOSTON, MA",42.3505,-71.1054,HARV,38063.0,BROOKLINE,42.334493,-71.128647,MA,FALSE
11456,8932.0,8156.0,CHAPEL HILL,35.9078,-79.0758,"CHAPEL HILL, NC",1.63239,4.7 mi,2599.0,16352.0,...,"CHAPEL HILL, NC",35.9049,-79.0469,UNC,73224.0,CHAPEL HILL,35.907802,-79.075798,NC,TRUE
42317,49200.0,426685.0,ATLANTA,33.7976,-84.3842,"ATLANTA, GA",1.66719,2.2 mi,33864.0,181339.0,...,"ATLANTA, GA",33.7756,-84.3963,GTECH,424542.0,ATLANTA,33.797612,-84.384225,GA,TRUE
18564,744.0,121.0,DURHAM,43.1172,-70.9188,"DURHAM, NH",1.76269,2.9 mi,146.0,1325.0,...,"DURHAM, NH",43.1389,-70.937,UNH,14153.0,DURHAM,43.117186,-70.918788,NH,TRUE
505,24.0,136.0,FORT MYER,38.8801,-77.0708,"FORT MYER, VA",1.80511,2.0 mi,45.0,62.0,...,"WASHINGTON, DC",38.8997,-77.0486,GW,818.0,FORT MYER,38.880110,-77.070778,VA,FALSE
23390,3785.0,291.0,LA JOLLA,32.8563,-117.25,"LA JOLLA, CA",1.88175,4.1 mi,1032.0,10374.0,...,"LA JOLLA, CA",32.8801,-117.234,UCSD,31635.0,LA JOLLA,32.856347,-117.250058,CA,TRUE
19636,26742.0,14750.0,BOSTON,42.3535,-71.0657,"BOSTON, MA",2.04445,2.5 mi,4626.0,45894.0,...,"BOSTON, MA",42.3505,-71.1054,HARV,159838.0,BOSTON,42.353533,-71.065676,MA,TRUE
19495,5119.0,2098.0,AMHERST,42.377,-72.4914,"AMHERST, MA",2.05313,2.6 mi,679.0,3253.0,...,"AMHERST, MA",42.3912,-72.5267,UMASS,32300.0,AMHERST,42.377001,-72.491423,MA,TRUE
20726,571.0,15517.0,ROXBURY,42.324,-71.085,"ROXBURY, MA",2.10417,3.4 mi,857.0,2803.0,...,"BOSTON, MA",42.3505,-71.1054,HARV,3953.0,ROXBURY,42.324029,-71.085017,MA,FALSE
11436,1588.0,1243.0,CARRBORO,35.9158,-79.0826,"CARRBORO, NC",2.13754,5.5 mi,468.0,2998.0,...,"CHAPEL HILL, NC",35.9049,-79.0469,UNC,10312.0,CARRBORO,35.915783,-79.082604,NC,FALSE
24690,10003.0,14772.0,SOMERSET,40.4966,-74.532,"SOMERSET, NJ",2.29281,3.5 mi,2389.0,9798.0,...,"SOMERSET, NJ",40.4976,-74.4885,RUT,24810.0,SOMERSET,40.496619,-74.532009,NJ,TRUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21825,0.0,2.0,IMLAY,40.5483,-118.034,"IMLAY, NV",695.701,NaN,28.0,12.0,...,"TUCSON, AZ",32.2319,-110.95,UA,210.0,IMLAY,40.548280,-118.034358,NV,FALSE
7441,1.0,0.0,PREWITT,35.3518,-108.089,"PREWITT, NM",695.781,NaN,46.0,15.0,...,"AUSTIN, TX",30.2849,-97.7341,UT,97.0,PREWITT,35.351817,-108.088619,NM,FALSE
8068,0.0,0.0,VILLANUEVA,35.2313,-105.336,"VILLANUEVA, NM",695.82,NaN,4.0,0.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,38.0,VILLANUEVA,35.231348,-105.336283,NM,FALSE
18494,114.0,8.0,SHELBY,48.5088,-111.73,"SHELBY, MT",695.947,NaN,150.0,247.0,...,"DENVER, CO",39.6766,-104.962,DU,3291.0,SHELBY,48.508807,-111.729540,MT,FALSE
18446,20.0,0.0,SAINT IGNATIUS,47.3305,-114.01,"SAINT IGNATIUS, MT",696.131,NaN,208.0,261.0,...,"DENVER, CO",39.6766,-104.962,DU,1938.0,SAINT IGNATIUS,47.330512,-114.010198,MT,FALSE
17354,3.0,0.0,ALBERTON,46.8989,-114.626,"ALBERTON, MT",696.175,NaN,153.0,128.0,...,"DENVER, CO",39.6766,-104.962,DU,1472.0,ALBERTON,46.898852,-114.625586,MT,FALSE
7092,0.0,0.0,MESILLA PARK,32.21,-106.715,"MESILLA PARK, NM",696.19,NaN,25.0,157.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,1787.0,MESILLA PARK,32.210044,-106.714691,NM,FALSE
16784,13.0,0.0,RUSHVILLE,42.6969,-102.467,"RUSHVILLE, NE",696.206,NaN,84.0,148.0,...,"SAINT LOUIS, MO",38.6488,-90.3108,WASHU,1017.0,RUSHVILLE,42.696937,-102.467053,NE,FALSE
6103,0.0,40.0,CHAMA,36.875,-106.627,"CHAMA, NM",696.538,NaN,121.0,95.0,...,"SAN ANTONIO, TX",29.4241,-98.4936,UTSA,821.0,CHAMA,36.875021,-106.627345,NM,FALSE
6482,0.0,0.0,FENCE LAKE,34.7668,-108.685,"FENCE LAKE, NM",697.004,NaN,16.0,0.0,...,"DALLAS, TX",32.8412,-96.7845,SMU,110.0,FENCE LAKE,34.766798,-108.684918,NM,FALSE
9991,2.0,0.0,EAGLEVILLE,41.2999,-120.079,"EAGLEVILLE, CA",697.357,NaN,15.0,14.0,...,"PHOENIX, AZ",33.4484,-112.074,UA,148.0,EAGLEVILLE,41.299883,-120.078511,CA,FALSE
6012,0.0,0.0,CAPULIN,36.7673,-104,"CAPULIN, NM",697.388,NaN,0.0,3.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,49.0,CAPULIN,36.767287,-103.999599,NM,FALSE
29,12.0,4231.0,ALICEVILLE,33.0772,-88.2027,"ALICEVILLE, AL",697.496,NaN,204.0,297.0,...,"MIAMI, FL",25.7617,-80.1918,MIAMI,1118.0,ALICEVILLE,33.077211,-88.202696,AL,FALSE
6138,14.0,47.0,CHURCH ROCK,35.6067,-108.516,"CHURCH ROCK, NM",697.671,NaN,211.0,77.0,...,"DALLAS, TX",32.8412,-96.7845,SMU,19.0,CHURCH ROCK,35.606670,-108.515625,NM,FALSE
10069,42.0,4.0,HAPPY CAMP,41.6879,-123.483,"HAPPY CAMP, CA",697.737,NaN,41.0,87.0,...,"LA JOLLA, CA",32.8801,-117.234,UCSD,655.0,HAPPY CAMP,41.687905,-123.483269,CA,FALSE
7764,0.0,0.0,SERAFINA,35.3464,-105.301,"SERAFINA, NM",698.124,NaN,0.0,4.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,120.0,SERAFINA,35.346377,-105.300633,NM,FALSE
6257,0.0,0.0,COUNSELOR,36.1656,-107.564,"COUNSELOR, NM",698.207,NaN,13.0,3.0,...,"AUSTIN, TX",30.2849,-97.7341,UT,0.0,COUNSELOR,36.165554,-107.563530,NM,FALSE
8028,0.0,0.0,VALMORA,35.8253,-104.927,"VALMORA, NM",698.223,NaN,0.0,0.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,0.0,VALMORA,35.825334,-104.927204,NM,FALSE
21997,0.0,11.0,WADSWORTH,39.6651,-119.427,"WADSWORTH, NV",698.223,NaN,78.0,49.0,...,"TUCSON, AZ",32.2319,-110.95,UA,322.0,WADSWORTH,39.665116,-119.426703,NV,FALSE
6490,0.0,0.0,FLORA VISTA,36.8173,-108.094,"FLORA VISTA, NM",698.237,NaN,131.0,80.0,...,"DALLAS, TX",32.8412,-96.7845,SMU,1383.0,FLORA VISTA,36.817310,-108.094079,NM,FALSE
6474,298.0,448.0,FARMINGTON,36.6229,-108.18,"FARMINGTON, NM",698.312,NaN,3570.0,3886.0,...,"DALLAS, TX",32.8412,-96.7845,SMU,35887.0,FARMINGTON,36.622898,-108.179508,NM,FALSE
21829,159.0,8.0,INCLINE VILLAGE,39.241,-119.937,"INCLINE VILLAGE, NV",698.352,NaN,450.0,2349.0,...,"TUCSON, AZ",32.2319,-110.95,UA,8198.0,INCLINE VILLAGE,39.241034,-119.936664,NV,FALSE
6108,0.0,0.0,CHAMBERINO,32.0441,-106.79,"CHAMBERINO, NM",698.368,NaN,10.0,48.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,534.0,CHAMBERINO,32.044128,-106.789582,NM,FALSE
17971,3.0,0.0,HINSDALE,48.4776,-107.06,"HINSDALE, MT",698.69,NaN,18.0,43.0,...,"MINNEAPOLIS, MN",44.9754,-93.2331,MINN,428.0,HINSDALE,48.477635,-107.059858,MT,FALSE
21805,3.0,0.0,GOLCONDA,41.0446,-117.181,"GOLCONDA, NV",698.92,NaN,25.0,37.0,...,"TUCSON, AZ",32.2319,-110.95,UA,345.0,GOLCONDA,41.044580,-117.181049,NV,FALSE
18119,0.0,0.0,LODGE GRASS,45.253,-107.547,"LODGE GRASS, MT",699.248,NaN,130.0,126.0,...,"MINNEAPOLIS, MN",44.9754,-93.2331,MINN,182.0,LODGE GRASS,45.252966,-107.547277,MT,FALSE
6942,0.0,0.0,LOCO HILLS,32.8142,-103.996,"LOCO HILLS, NM",699.283,NaN,0.0,0.0,...,"SALT LAKE CITY, UT",40.7649,-111.842,UTAH,34.0,LOCO HILLS,32.814203,-103.996454,NM,FALSE
7473,0.0,0.0,RAMAH,35.0088,-108.361,"RAMAH, NM",699.288,NaN,60.0,195.0,...,"AUSTIN, TX",30.2849,-97.7341,UT,434.0,RAMAH,35.008846,-108.361162,NM,FALSE
7804,0.0,16.0,SPRINGER,36.3562,-104.472,"SPRINGER, NM",699.335,NaN,54.0,224.0,...,"HOUSTON, TX",29.7199,-95.3422,UT,1287.0,SPRINGER,36.356194,-104.471772,NM,FALSE
8728,0.0,0.0,FELT,36.5549,-102.796,"FELT, OK",699.517,NaN,6.0,32.0,...,"SAINT LOUIS, MO",38.6488,-90.3108,WASHU,170.0,FELT,36.554897,-102.795910,OK,FALSE

In [77]:
full_combinations.columns

Index(['Asian Population', 'Black Population', 'City', 'City Lat', 'City Lng',
       'CityState', 'Distance', 'Distance_Text', 'Education Associates',
       'Education Bachelors', 'Education Doctorate', 'Education GED',
       'Education High School', 'Education Masters', 'Education None',
       'Education Professional', 'Employment Female Computer Engineering',
       'Employment Labor Force', 'Employment Male Computer Engineering',
       'Employment Unemployed', 'Google_URL', 'Hispanic Population',
       'Household Income', 'Income Per Capita', 'Median Age',
       'Median Female Age', 'Median Gross Rent', 'Median Home Value',
       'Median Male Age', 'Native American Population', 'Population',
       'Poverty', 'State', 'Time', 'Time_Text', 'Uni CityState', 'Uni Lat',
       'Uni Lng', 'University', 'White Population', 'city', 'lat', 'lng',
       'state', 'Physical_Campus'],
      dtype='object')

In [78]:
full_combinations = full_combinations[['Asian Population', 'Black Population', 
                                       'City', 'City Lat', 'City Lng',
       'CityState', 'Distance', 'Distance_Text', 'Education Associates',
       'Education Bachelors', 'Education Doctorate', 'Education GED',
       'Education High School', 'Education Masters', 'Education None',
       'Education Professional', 'Employment Female Computer Engineering',
       'Employment Labor Force', 'Employment Male Computer Engineering',
       'Employment Unemployed', 'Google_URL', 'Hispanic Population',
       'Household Income', 'Income Per Capita', 'Median Age',
       'Median Female Age', 'Median Gross Rent', 'Median Home Value',
       'Median Male Age', 'Native American Population', 'Population',
       'Poverty', 'State', 'Time', 'Time_Text', 'Uni Lat', 'Uni Lng',
       'University', 'Uni CityState', 'White Population', 'Physical_Campus']]

In [79]:
full_combinations["CityState"].nunique()

27238

### Export the Results

In [80]:
full_combinations.to_csv("Outputs/02-Distances_Between_Cities.csv", index=False)

In [81]:
full_combinations.to_sql("FullDistances", conn, if_exists="replace", index=False)

/Users/paul/anaconda/envs/PythonData/lib/python3.6/site-packages/pandas/core/generic.py:1345: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [82]:
# Check Tables in SQLite
cur = conn.cursor() 
res = cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
for name in res:
    print(name[0])

City_Census
FullDistances
Rules_Added
Zip_Census

### Export to Cloud SQL

In [283]:
engine = create_engine('mysql+mysqldb://trilogy:DataRocks@35.227.28.228/mapping_data?unix_socket=/cloudsql/sql-projects:us-east1:opportunity-db')
conn = engine.connect()

full_combinations.to_sql("All_Distances", conn, if_exists="replace", index=False)